.page-template-about {
  /* General About Page Styling */
    .content-area {
      margin-top: 20px;
      transition: .5s;
      @include tablet {
        margin-top: 100px;
      }
      @include desktop {
        margin-top: 50px;
      }
    }
    h2 {
      @include tablet {
        font-size: $h2_text_size;
        transition: .5s;
      }
    }
    .underline {
      border-bottom: 5px solid $lilac;
      padding-right: 20px;
    }
    .title-norm {
      margin-left: -15px;
    }
  /* What We're All About Section*/
    .what-about-wrapper {
      h2 {          
        padding: 5% 0 0 10%;
        @include tablet {
          font-size: $h2_text_size;
          transition: .5s;
        }
        @include desktop {
          padding: 5% 0 0 4%;
          font-size: $h1_text_size;
          margin-bottom: -9%;
          width: 47%;
        }
       }
      .about-text {
        padding: 10px;
        @include desktop {
          display: flex;
          justify-content: space-around;
          h3 {
            width: 50%;
          }
          p {
            display: flex;
            align-items: center;
            width: 40%;
            
          }
        }
      }
    }

  /* Who We Are Section */
    .who-we-are-wrapper {
      background-color: $space_gray;
      width: 100%;
      h2 {          
        padding: 5% 0 0 10%;
        @include tablet {
          font-size: $h2_text_size;
          transition: .5s;
        }
        @include desktop {
          font-size: $h1_text_size;
        }
       }
    }
    /* Employee section Wrapper*/
      .employee-wrapper {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        @include desktop {
          flex-direction: row;
        }
      /* Individual Name and Photo Wrapper */
        .person-wrap {
          margin: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
        }
      /* Employee Name */
        .emp-name {
          margin-top: 15px;
          text-align: center;
          font-size: $h4_text_size;
          font-weight: bold;
        }
      /* Employee Photos */
        .emp-photo {
          flex-shrink: 0;
          position: relative;
          height: 250px;
          width: 250px;
          border-radius: 100%;
          overflow: hidden;
          transition: .5s;
          filter: grayscale(100%);
          @include tablet {
            height: 275px;
            width: 275px;
          }
          img {
            height: auto;
            max-width: 100%;
            position:absolute;
            top:50%;
            left:50%;
            transform: translate(-50%, -50%) scale(1.3);
            transition: .5s;
          }
        }
        /* Employee Info */
        .emp-info-button {
          width: 100%;
          height: 100%;
          border-radius: 100%;
        }
        .text-wrap {
          background-color: $ultra_violet;
          width: 100vw;
          color: $space_gray;
          padding: 15px;
          transform: translateY(0);
          transition: .5s;
          height: 200px;
          overflow:scroll;
          display: none;
          flex-direction: column;
          @include desktop{
            flex-direction: row;
            overflow:visible;
            height: 400px;
            position: absolute;
            bottom: -108%;
            justify-content: space-around;
          }
          p{
            @include desktop {
              width: 50%;
            }
          }
          h3 {
            font-size: $h3_text_size;
            display: flex;
            align-items: center;
            padding-top: 50px;
            @include desktop {
              font-size: $h2_text_size;
              padding-top: 0;
            }
          }
          .close-button {
            z-index: 5;
            position: absolute;
            left: 5%;
            top: 10%;
            background-color: transparent;
            border: none;
            color: $space_gray;
            padding: 15px 0;
            font-size: $h2_text_size;
          }
        }
    } 
}

