.page-template-about {
  .content-area {
    margin-top: 20px;
    padding: 0 5%;
    transition: .5s;
    @include tablet {
      margin-top: 100px;
    }
    @include desktop {
      margin-top: 50px;
    }
  }
  h2 {
    @include tablet {
      font-size: $h2_text_size;
      transition: .5s;
    }
    @include desktop {
      position: absolute;
    }
  }
  .underline {
    border-bottom: 5px solid $lilac;
    padding-right: 20px;
  }
  .title-norm {
    margin-left: -15px;
  }
  .about-text {
    @include desktop {
      display: flex;
      justify-content: space-around;
      h3 {
        width: 40%;
      }
      p {
        display: flex;
        align-items: center;
        width: 40%;
      }
    }

  }
  .employee-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @include desktop {
      flex-direction: row;
    }
    .person-container {
      margin: 10px;
    }
    .emp-name {
      margin-top: 15px;
      text-align: center;
      font-size: $h4_text_size;
      font-weight: bold;
    }

    .emp-photo {
      flex-shrink: 0;
      position: relative;
      height: 250px;
      width: 250px;
      border-radius: 100%;
      overflow: hidden;
      transition: .5s;

      @include tablet {
        height: 275px;
        width: 275px;
      }
      img {
        height: auto;
        max-width: 100%;
        position:absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -40%) scale(1.3);
        transition: .5s;
      }
      filter: grayscale(100%);
      // &:hover img {
      //   transform: translate(-50%, -40%) scale(1.5);
      // }
    }
  }
}

