.page-template-about {
  .content-area {
    margin-top: 20px;
    padding: 0 5%;
    transition: .5s;
    @include desktop {
      margin-top: 50px;
    }
  }
  .underline {
    border-bottom: 5px solid $lilac;
    padding-right: 20px;
  }
  .title-norm {
    margin-left: -15px;
  }
  .employee-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .emp-name {
      margin-top: 15px;
      text-align: center;
      font-size: $h4_text_size;
      font-weight: bold;
    }
    .emp-photo {
      display: flex;
      align-items: center;
      height: 290px;
      width: 300px;
      border-radius: 100%;
      overflow: hidden;
      filter: grayscale(100%);
    }
  }
}

