.page-id-13 {
  .site-content{
    max-width: 1200px;
    margin: 0 auto;
    @include desktop{
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  article {
    padding: 5px 0;
  }

    .entry-header{
      height: auto;
      .entry-title{
        margin: 0 20px;
        @include desktop{
          margin: 0;
        }
      }
    }

    // h1{
    //   color: black;
    //   margin: 0 20px;
    //   font-weight: bold;
    //   @include desktop{
    //     margin: 0 50px;
    //   }
    // }

    .entry-content{
      padding: 0;
      p{
        padding: 0 20px;
      }
      img{
        width: 80px;
        margin: 0 20px;
      }
      @include desktop{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-start;
        p{
          padding: 0;
        }
        img{
          margin: 0;
        }
      }
    }

    .main-content{
      @include desktop{
        width: 50%;
      }
    }

    .wpcf7{
      @include desktop{
        width: 50%;
      }
      background: $indigo;
      padding: 20px;
      padding-bottom: 4px;
      p{
        padding: 0;
      }
      p:last-child{
        display: flex;
        justify-content: center;
        align-items: center;
      }
      label {
      color: $space_gray;
      width: 100%;
      }

      input, textarea {
        width: 100%;
        border-radius: 0%;
        background-color: $space_gray;      
      }

      .wpcf7-submit {
        margin: 0 auto;
        text-align: center;
        width: 175px;
        height: 50px;
        font-size: $h2_text_size;
        font-weight: 550;
        color: $ultra_violet;
        display: block;
      }

      textarea {
        height: 100px;
      }
    }
    
    .address-container {
      padding: 0 20px;
      display: flex;
      flex-flow: column;
      h2{
        @extend h1;
        margin: 0;
        @include desktop{
          font-size: 1.5rem;
        }
      }
      strong{
        color: $ultra_violet;
      }
      
      @include desktop{
        display: flex;
        flex-flow: row nowrap;
        width: 100%;
        height: 400px;
        padding: 0;
      }
    }

    .address-text{
      order: 1;
      @include desktop{
        order: 2;
        width: 25%;
        height: 300px;
        border-right: 20px solid white;
        background: $space_gray;
        padding: 30px;
        p{
          font-size: 0.8rem;
        }
      }
    }

    .map-container{
      order: 2;
      margin-bottom: 20px;
      @include desktop{
        order: 3;
        width: 50%;
      }
    }

    .map {
      display: block;
      -webkit-filter: grayscale(100%);
         -moz-filter: grayscale(100%);
          -ms-filter: grayscale(100%);
           -o-filter: grayscale(100%);
              filter: grayscale(100%);
      @include desktop{
        width: 100%;
        height: 100%;
      }
    }

    .widget-area{
      order: 3;
      @include desktop{
        order: 1;
        width: 25%;
        height: 300px;
        background: $space_gray;
        padding: 30px;
        padding-right: 15px;
        p{
          font-size: 0.8rem;
        }
      }
    }
  .widget-title {
      @extend h1;
      margin: 10px 20px;
  }

  .office-hours-widget {
    display: flex;
    width: 90%;
    margin: 0;
    @include desktop{
      width: 100%;
    }
  }

  .office-hours-days {
    font-weight: bold;
    margin-right: 4rem;
    @include desktop{
      margin-right: 0.5rem;
    }

    p {
      margin: 5px;
    }
  }
  
  .office-hours-hours {
    p {
      margin: 5px;
    }
  }
}