/*--------------------------------------------------------------
# FAQ Page
--------------------------------------------------------------*/

//Dropdown styling
.faq{
  padding: 0 50px;
  max-width: 900px;
}

.faq-set{
  border: 1px solid black;
  position: relative;
  background: none;
  margin: 20px 0;
  &:active, &:focus{
    border: 2px solid $indigo;
    outline: none;
  }
}

.faq-question{
  margin: 0;
  padding: 10px 20px;
  display: block;
  width: 100%;
  position: relative;
  text-decoration: none;
  color: black;
  font-weight: bold;
  &:hover{
    cursor: pointer;
    background: $ultra_violet;
    color: white;
  }
}

.faq-answer{
  display: none;
  padding: 20px 50px;
}

.faq-plus{
  position: absolute;
  right: 3%;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  font-weight: bold;
  color: inherit;
  padding: 10px;
  &:hover{
    cursor: pointer;
  }
}

.faq-minus{
  position: absolute;
  right: 3%;
  top: 50%;
  bottom: 50%;
  display: flex;
  align-items: center;
  font-weight: bold;
  color: $indigo;
  padding: 10px;
  &:hover{
    cursor: pointer;
  }
}

.faq-question.active{
  background:$indigo;
  color: white;
  }