/*--------------------------------------------------------------
# FAQ Page
--------------------------------------------------------------*/

//Dropdown styling
.faq{
  padding: 0 50px;
  max-width: 900px;
}

.faq-set{
  border: 1px solid black;
  position: relative;
  background: none;
  margin: 20px 0;
  &:active, &:focus{
    border: 2px solid $indigo;
    outline: none;
  }
}

.faq-question{
  margin: 0;
  padding: 10px 20px;
  &:hover{
    cursor: pointer;
  }
}

.faq-answer{
  display: none;
}

.faq-plus, .faq-minus{
  position: absolute;
  right: 5%;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  font-weight: bold;
  color: $indigo;
  &:hover{
    cursor: pointer;
  }
}

.faq-minus{
  display: none;
}

