/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.site-footer {
  width: 100%;
  height: 300px;
  background-color: $footer_color;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: $space_gray;
  .footer-logo {
    width: 60%;
    filter: brightness(0) invert(1);
    @include tablet {
      width: 20%;
    }

  }
}