/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.site-footer {
  // width: 100vw;
  background-color: $gun_metal;
  .footer-logo {
    filter: brightness(0) invert(1);
    width: 20%;
  }
}