/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Buttons */

	.btn, .btn-solid{
		display: block;
		width: 100%;
		max-width: 200px;
		text-align: center;
		color: white;
		padding: 10px;
		text-decoration: none;
		border: none;
		background: $ultra_violet;
		&:hover{
			background: $lilac;
		}
		&:visited{
			color: white;
		}
	}

	.btn-border{
		display: block;
		width: 100%;
		max-width: 200px;
		text-align: center;
		color: $ultra_violet;
		padding: 10px;
		text-decoration: none;
		border: 2px solid $ultra_violet;
		background: white;
		&:hover{
			background: $ultra_violet;
			color: white;
		}
		&:visited{
			color: $ultra_violet;
		}
	}

	.btn-plain{
		display: block;
		width: 100%;
		max-width: 200px;
		text-align: center;
		color: $grape;
		padding: 10px;
		text-decoration: none;
		border: none;
		background: white;
		box-shadow: 0 2px 10px  darkgray;
		&:hover{
			background: $grape;
			color: white;
		}
		&:visited{
			color: $ultra_violet;
		}
	}

/* Search Bar */
	.search-form{
		border: none;
		width: 100%;
		max-width: 400px;
		margin: 20px auto;
		fieldset{
			border: none;
			margin: 0 auto;
			width: 300px;
			position: relative;
		}
		label{
			display: block;
			width: 100%;
			margin: 0 auto;
			text-align: center;
		}
		input[type="search"]{
			background: $space_gray;
			border-style: none;
			width: 100%;
			padding: 5px;
			&:focus{
				outline: none;
			}
			&::placeholder{
				font-weight: 500;
				text-align: center;
				color: $grape;

			}
		}
		.search-submit{
			position: absolute;
			background: none;
			border: none;
			padding: none;
			top: 15%;
			right: 0;
			color: $grape;
		}
		@include desktop{

		}
	}

/* Fields */

	input[type="text"],
	input[type="email"],
	input[type="url"],
	input[type="password"],
	textarea {
		color: #666;
		border: 1px solid #ccc;
		border-radius: 3px;

		&:focus {
			color: #111;
		}
	}

	input[type="text"],
	input[type="email"],
	input[type="url"],
	input[type="password"],{
		padding: 3px;
	}

	textarea {
		padding-left: 3px;
		width: 100%;
	}

//Contact Form Thank You Pop Up
	div.wpcf7-mail-sent-ok{
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100vw;
		height: 100vh;
		background: rgba(222, 221, 219,0.7);
		display: flex;
		justify-content: center;
		align-items: center;
		border: none;
		margin: 0;
		z-index: 100;
		.thank-you-container{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			color: white;
			background: $ultra_violet;
			width: 300px;
			height: 300px;
			padding: 20px;
			@include tablet{
				width: 400px;
				height: 400px;
			}
		}
		.btn-plain{
			box-shadow: none;
			&:hover{
				color: white;
			}
		}
		h2{
		}
		p{
			width: 60%;
			text-align: center;
		}
	}

