/* Search, 404, Archive, and  Single CSS*/

//Generic Stylings

.archive,
.single,
.error404,
.search {
  .site-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .content-area{
    padding: 0 20px;
    max-width: 1200px;
    margin: 0 auto;
  }

  .entry-header{
    display: block;
    margin: 20px 0;
  }

  .posted-on, .byline{
    display: block;
  }

  .byline{
    font-weight: bold;
  }

  .entry-content{
    padding: 0;
    margin-top: 30px;
  }

  .entry-title{
    color: $ultra_violet;
    margin: 20px 0;
    a{
      text-decoration: none;
      color: $ultra_violet;
    }
  }

  .entry-header {
    height: auto;
  }
}

//Single Post
.single{
  .content-area{
    max-width: 1200px;
    padding: 20px;
    padding-top: 0;
    @include tablet{
      padding: 50px;
      padding-top: 0;
    }
  }

  .nav-previous{
    height: 90px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    a{
      text-decoration: none;
      color: $ultra_violet;
      padding: 10px 20px;
      &:hover{
        color: white;
        background: $indigo;
      }
      &::before{
        content: "\2190"
      }
    padding-left: 2%;
    margin-bottom: 5%;
    }
  }

  
  .nav-next{
    height: 90px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    a{
      text-decoration: none;
      color: $ultra_violet;
      padding: 10px 20px;
      &:hover{
        color: white;
        background: $indigo;
      }
      &::after{
        content: "\2192"
      }
    padding-left: 2%;
    margin-bottom: 5%;
    }
  }
}

//Search Page
.search-no-results{
  h1{
    &::after{
      content: "";
      display: none;
    }
  }
}

//404 page
 .error404{
   .page-content{
     a{
       display: block;
       text-decoration: none;
       color: $ultra_violet;
       &:hover{
         color: $grape;
       }
     }
   }
 }
