/* Search, 404, Archive, and  Single CSS*/

//Single Post
.single{
  .content-area{
    max-width: 1200px;
    padding: 20px;
    padding-top: 0;
    @include tablet{
      padding: 50px;
      padding-top: 0;
    }
  }
}

.archive,
.single,
.error404,
.search {
  .site-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  a{
    display: block;
  }
  .entry-header{
    display: block;
    margin: 20px 0;
  }

  .posted-on, .byline{
    display: block;
  }

  .byline{
    font-weight: bold;
  }

  .entry-content{
    padding: 0;
    margin-top: 30px;
  }

  .entry-title{
    color: $ultra_violet;
    margin: 20px 0;
  }

  .nav-previous{
    height: 90px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    a{
      text-decoration: none;
      color: $ultra_violet;
      padding: 10px 20px;
      &:hover{
        color: white;
        background: $indigo;
      }
      &::before{
        content: "\2190"
      }
    padding-left: 2%;
    margin-bottom: 5%;
    }
  }

  
  .nav-next{
    height: 90px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    a{
      text-decoration: none;
      color: $ultra_violet;
      padding: 10px 20px;
      &:hover{
        color: white;
        background: $indigo;
      }
      &::after{
        content: "\2192"
      }
    padding-left: 2%;
    margin-bottom: 5%;
    }
  }

  .entry-header {
    height: auto;
  }
}
