.blog{

  .site-content{
    @include desktop{
      display: flex;
      flex-flow: row nowrap;
    }   
  }
  .content-area{
    padding: 0 20px;
    max-width: 1200px;
    margin: 0 auto;
    @include desktop{
      padding-top: 0;
    }
  }

  .page-title{
    color: $ultra_violet;
    @include desktop{

    }
  }
  article{
    margin: 50px 0;
    padding: 20px 0;
    border-bottom: 1px solid $space_gray;
    .entry-header{
      height: auto;
      display: block;
    }
    .entry-title{
      margin: 0;
      &::after{
        content: "";
        display: none;
      }
      a{
        display: block;
        text-align: left;
        text-decoration: none;
        color: black;
      &:hover{
        color: $grape;
      }
      }
    }

    .entry-content{
      padding: 0;
    }
  }
  
  .read-more{
    display: block;
    text-align: right;
    font-weight: bold;
  }
  .author{
    font-weight: bold;
  }

}