/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

.site-content {
  padding-top: 100px;


  @include desktop {
    padding-top: 50px;
  }
}

/* Front page */

  .front-page-hero {
    background-image: url('../../images/heroimageb2w.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 30vh;

      @include desktop {
        width: 100%;
        height: 475px;
      }

    .hero-text-container {
      margin: 0 0 0 50px;
      padding-top: 10px;

      @include desktop {
        display: block;
      }

      .hero-text {
        color: $space_gray;
        width: 150px;
        font-size: 1.25rem;
        border: 0;

        @include desktop {
          width: auto;
          margin-top: 10rem;
          font-size: 2rem;
        }
      }
    } 
  }

  .info-text-container {
    background: $space_gray;

    @include desktop {
      padding: 1.5rem 1rem;
    }
  }

  .front-page-info-text {
    width: 75%;
    margin: 0 auto;
<<<<<<< HEAD
    width: 75px;
    height: 75px;
  }
}

.front-page-services-text {
  display: block;

  p {
    text-align: center;
    font-size: .75rem;
    margin: 0 1rem 2rem 1rem;
  }

  h5 {
    font-size: $h5_text_size;
    text-align: center;
    margin: 1rem 0 0 0;
  }
}
=======
    padding: 25px 0;
    text-align: center;
    font-weight: 500;
    color: $ultra_violet;
>>>>>>> 6608eb11c5adda1de80d011efbd07fc581599391

    @include desktop {
      width: 40%;
    }
  }

  section {
    h1 {
      width: auto;
      margin: 2rem;
    }
  }

  .front-page-services {
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    img {
      margin: 0 auto;
      width: 75px;
      height: 75px;
    }
  }

  .front-page-services-text {
    display: block;
    width: 75px;

    h5 {
      font-size: $h5_text_size;
      text-align: center;
    }
  }

  .fp-container {
    background-color: $ultra_violet;

    @include desktop {
      display: flex;
    }
  }

  .front-page-stats-box {
    display: flex;
    text-align: center;
    color: $space_gray;

    @include desktop {
      margin: 0 5rem;
    }
  }

  .front-page-stats {

    @include desktop {
      margin: 3rem;
    }

<<<<<<< HEAD
    img {
      border-radius: 100%;
      height: 75px;
      width: 75px;
      object-fit: center;
      margin: 1rem 1rem;
    }

  .testimonial-text {
    display: block;
    height: auto;
  }

  .testimonial-sub-text {
    display: block;

    h5 {
      width: auto;
      margin: 1rem 0 0 0;
      font-size: $h5_text_size;
    }

    p {
      width: auto;
      margin: 0;
    }
  }

  }
}
=======
    h2 {
      margin: 1.5rem 0 0 0;
>>>>>>> 6608eb11c5adda1de80d011efbd07fc581599391

      @include desktop {
        margin: 0;
      }
    }

    h3 {
      text-align: center;
      font-weight: 400;
      color: white;
      padding-bottom: 1rem;

      @include desktop {
        font-size: $h3_text_size*.85;
      }
    }

    p {
      width: 70%;
      margin: 0 auto;
      color: $grape;
      font-weight: 300;
    }
  }

  .h2-title-text {
    border-bottom: 5px solid #694f93;
    width: auto;
  }

  .front-page-testimonials-container {
    @include desktop {
      display: flex;
      width: auto;
      margin: 0 auto;
    }
    
    .front-page-testimonials {
      display: flex;
      background-color: $indigo;
      color: $space_gray;
      justify-content: space-around;
      margin: 2rem;
      padding: 1rem;

      @include desktop {
        width: 500px;
        margin: 2rem auto;
      }

      img {
        border-radius: 100%;
        height: 75px;
        width: 75px;
        object-fit: center;
        margin: 1rem 1rem;
      }
    }
    
    .services-title-container {
      
      @include desktop {
      margin: 1rem 0 10rem 0;
      }
    }

  .testimonial-button {
    display: flex;
    align-content: center;

    @include desktop {
      background: $space_gray;
    }

    .btn {
      width: 1000px;

      @include desktop {
        margin: 1rem auto;
      }
    }
  }

/* Services Page */

  .page-id-19 {
    .site-main{
      width: 90%;
      margin: auto;
      
      @include desktop {
        display: block;
        width: 400px;
        margin: 0 10rem 0 0;
      }

      .services-container-desktop {
        @include desktop {
        display: flex;
        }
      }
    }

      .entry-header {
        display: none;

        @include tablet {
          margin: 0;
        }
        
        @include desktop {
          margin: 0;
        }

      }

      .services-hide {
        display: none;

        @include tablet {
          display: block;
        }
        
        @include desktop {
          display: block;
        }
      }

      .services-hide-desktop {
        @include tablet {
          display: none;
        }
        
        @include desktop {
          display: none;
        }
      }
    }

    .hire-temp1 {

      @include desktop {
      order: 2;
      width: 400px;
      margin: 0 0 1rem 8rem;
    }
  }

    .hire-temp2 {

      @include desktop {
      order: 1;
      }
    }
  }


      h2 {
        margin: 0;
        font-size: $h4_text_size;
      }

      p {
        margin-top: 0;
        font-size: $h5_text_size *1.2;
        font-weight: 200;
      }

    .desktop-services {
      display: none;

      @include desktop {
        display: block;
      }
    }

    .mobile-services {
      display: block;

      @include desktop {
        display: none;
      }

      .mobile-services-text {
        display: block;
      }

      .service-page-testimonials {
        display: flex;
        background-color: $indigo;
        color: $space_gray;
        padding: 1rem .5rem;
        margin: 1rem;
  
          h4 {
            margin: 0 auto;
          }
  
        img {
          border-radius: 100%;
          margin: 0 5px;
          height: 75px;
          width: 75px;
        }
  
        p {
          width: 100%;
          margin: 0 auto;
        }
      }

    }

  .main-carousel {
    @include desktop {
      display: block;
    }

    .carousel-cell {
      display: flex;
    }
    
    .service-page-testimonials {
      display: flex;
      background-color: $indigo;
      color: $space_gray;
      padding: 1rem;

      @include desktop {
        display: block;
        margin: 2rem;
        width: 50%;
        line-height: 1.25;

        h4 {
          margin: 0;
        }
      }
    
    .carousel-img-name {
      display: block;
    }

      img {
        border-radius: 100%;
        height: 75px;
        width: 75px;
      }

      p {
        width: 100%;
        margin: 0 auto;
      }
    }
}

  .discover-button {
    display: none;

    @include desktop {
      display: flex;
      margin-top: 2rem;
      width: 100%;
      height: 300px;
      background-repeat: no-repeat;
      background-image: url('../../images/discover-image.png');
      
    img {
      width: 100%;
      height: 200px;
      }

    .btn {
      margin: auto;
      color: $ultra_violet;
      font-weight: 400;
      background-color: $space_gray;
      }
    }
  }



/* Search, 404, Archive, and  Single CSS*/

  .archive,
  .error404,
  .search {
    .site-content {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10%;
      .entry-header{
        display: block;
        padding-left: 2%;
        margin-bottom: 5%;
        h1 {
          font-size: $h1_text_size;
          margin: 0;
        }
        .entry-meta {
          padding-left: 5%;
        }
      }
      h1,
      h2 {
        color: black;
        a{
          text-decoration: none;
        }
        &:after {
          display: none;
        }
      }
      .entry-header {
        height: auto;
      }
    }
    a{
      display: block;
    }
  }

//Single Post
  .single{
    .content-area{
      max-width: 1200px;
      padding: 20px;
      @include tablet{
        padding: 50px;
      }
    }
    .entry-header{
      width: auto;
      height: auto;
      display: block;
    }
    .entry-title{
      color: $ultra_violet;
      font-weight: bold;
      font-size: 2rem;
      display: block;
      margin: 20px 0;
    }
    .posted-on, .byline{
      display: block;
    }
    .byline{
      font-weight: bold;
    }
    .entry-content{
      padding: 0;
    }
    .nav-previous{
      height: 90px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      a{
        text-decoration: none;
        color: $ultra_violet;
        border: 1px solid $indigo;
        padding: 10px 20px;
        &:hover{
          color: white;
          background: $indigo;
        }
        &::before{
          content: "\2190"
        }
      }
    }
    .nav-next{
      height: 90px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      a{
        text-decoration: none;
        color: $ultra_violet;
        border: 1px solid $indigo;
        padding: 10px 20px;
        &:hover{
          color: white;
          background: $indigo;
        }
        &::after{
          content: "\2192"
        }
      }
    }
  }
  