/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */

.front-page-hero {
  background-image: url('../../images/heroimageb2w.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 25vh;
  margin-top: 100px; /* remove when nav is fixed */

    @include desktop {
      width: 90%;
      margin: 4.5rem;
      height: 475px;
    }

  .hero-text-container {
    margin: 0 0 0 50px;
    padding-top: 25px;

    .hero-text {
      color: white;
      width: 150px;
      font-size: 1.25rem;
      }
  } 
}

.front-page-info-text {
  margin: 1.5rem 1.5rem;
  width: 75%;
  color: $ultra_violet;
  text-align: center;
  align-items: center;
}

.front-page-services {
  width: 80%;
  margin: 0 1.25rem;
  display: inline-flex;
  justify-content: center;

  img {
    width: 75px;
    height: 75px;
  }
}

.front-page-services-text {
  display: block;

  h2 {
    font-size: 1rem;
    text-align: center;
  }
}